.footer {
	background: #242424;
	color: #FFFFFF;
	border-top: 1px solid rgba(255, 255, 255, 0.12);
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	padding: 50px 0;
}
.footer_items {
	display: flex;
	justify-content: space-between;
}
.footer_nav_title {
	font-weight: 500;
	font-size: 18px;
	margin: 0 0 15px 0;
}
.footer_nav_link {
	display: block;
	color: rgba(255, 255, 255, 0.54);
	margin: 0 0 10px 0;
	transition: all 0.3s ease;
	&:last-child {
		margin: 0;
	}
}
.footer_contact_icon {
	margin: 0 15px 0 0;
}
.footer_contact_item {
	display: flex;
	align-items: center;
	margin: 0 0 30px 0;
	&:last-child{
		margin: 0;
	}
}
.footer_contact_link {
	display: block;
	color: #FFFFFF;
	transition: all 0.3s ease;
}
.footer_contact_link.margin {
	margin: 0 0 10px 0;
}
.footer_pay {
	display: flex;
	justify-content: flex-end;
	margin: 50px 0 0 0;
}
.footer_pay_img {
	margin: 0 0 0 40px;
}
.footer_contact_text {
	color: #FFFFFF;
}
@media only screen and (max-width: 950px){
	.footer_items {
		flex-wrap: wrap;
	}
	.footer_contacts_items {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 30px 0 0 0;
	}
	.footer_contact_item {
		margin: 0;
	}
}
@media only screen and (max-width: 770px){
	.footer_contacts_items {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer_contact_item {
		width: 50%;
		justify-content: center;
		&:last-child {
			margin: 20px 0 0 0;
		}
	}
}
@media only screen and (max-width: 580px){
	.footer_logo {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0 0 20px 0;
	}
}
@media only screen and (max-width: 520px){
	.footer_pay {
		flex-wrap: wrap;
	}
	.footer_pay_img {
		width: 50%;
		margin: 0;
		display: flex;
		justify-content: center;
		margin: 0 0 20px 0;
	}
}
@media only screen and (max-width: 500px){
	.other_content {
		flex-direction: column;
		align-items: center;
	}
	.other_copy {
		margin: 0 0 20px 0;
	}
}
@media only screen and (max-width: 480px){
	.footer_contact_item {
		width: 100%;
		margin: 20px 0 0 0;
		justify-content: flex-start;
	}
	.footer_contacts_items {
		margin: 0;
	}
}