.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: #FFFFFF;
	width: 100%;
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.15));
}
.header_body_up {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	max-height: 70px;
	transition: all 0.3s ease;
}
.header_body_up.__body_up {
	max-height: 0px;
	opacity: 0;
}
.__body_up_list, .__up_geo_item, .__body_up_socials, .body_down_list {
	display: flex;
}
.__body_up_btn {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #3D3D3D;
	box-shadow: $mainShadow;
	border: 1px solid #3D3D3D;
	border-radius: 100px;
	padding: 9px 15px;
	transition: all 0.3s ease;
	&:first-child {
		margin: 0 15px 0 0;
	}
}
.__bodu_up_link {
	line-height: 20px;
	color: #3D3D3D;
	transition: all 0.3s ease;
}
.__body_up_list li {
	margin: 0 40px 0 0;
	&:last-child {
		margin: 0;
	}
}
.__body_up_social {
	margin: 0 15px 0 0;
	width: 30px;
	height: 30px;
	display: block;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: $mainShadow;
		border-radius: 36.8996px;
		transition: all 0.3s ease;
	}
	&:last-child {
		margin: 0;
	}
}
.header_body_down {
	border-top: 1px solid #EFEFEF;
	padding: 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.__body_down_logo {
	display: block;
	width: 121px;
	svg {
		width: 100%;
		height: auto;
		path {
			transition: all 0.3s ease;
		}
	}
}
.body_down_list li {
	margin: 0 20px 0 0;
	&:last-child {
		margin: 0;
	}
}
.__body_down_link {
	font-weight: 500;
	font-size: 20px;
	color: #3D3D3D;
	transition: all 0.3s ease;
	padding: 9px 28px;
	border-radius: 21px;
	border: 1px solid #FFFFFF;
}
.__body_down_phone {
	display: flex;
	align-items: center;
	color: #3D3D3D;
	background: #FFEA00;
	border: 1px solid #FFEA00;
	border-radius: 22px;
	padding: 8px 22px;
	box-shadow: $mainShadow;
	transition: all 0.3s ease;
}
.__down_phone_text {
	font-weight: 500;
	font-size: 18px;
	margin: 0 0 0 9px;
}
.__body_up_geo {
	display: flex;
	align-items: center;
	position: relative;
	& select {
		border: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #444856;
	}
}
.__geo_item_pin {
	width: 17px;
	height: 17px;
	margin: 0 7px 0 0;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.__mobile_social_items {
	display: flex;

}
.__mobile_social_item {
	width: 30px;
	height: 30px;
	margin: 0 0 0 15px;
	display: block;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.header.active {
	.header_mobile {
		transform: translateY(0);
	}
	.__body_down_logo {
		svg {
			path {
				fill: #FFFFFF;
				stroke: #FFFFFF;
			}
		}
	}
	.header_burger span {
		transform: scale(0);
	}
	.header_burger:before {
		transform: rotate(45deg);
		top: 9px;
		background: #FFFFFF;
	}
	.header_burger:after {
		transform: rotate(-45deg);
		bottom: 8px;
		background: #FFFFFF;
	}
}
.header_burger.active span {
	transform: scale(0);
}
.header_burger.active:before {
	transform: rotate(45deg);
	top: 9px;
}
.header_burger.active:after {
	transform: rotate(-45deg);
	bottom: 9px;
}
.header_content {
	position: relative;
	z-index: 10;	
}
.header_mobile {
	position: fixed;
	padding: 80px 0 0 0;
	top: 0;
	left: 0;
	transform: translateY(-100vh);
	width: 100%;
	height: 100vh;
	transition: all 0.8s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #242424;
	z-index: 5;
	overflow: auto;
}
.header_mobile_item {
	width: 100%;
	padding: 0 20px;
}
.header_mobile_geo {
	display: flex;
	padding: 0 0 20px 0;
	justify-content: center;
	align-items: center;
	& select {
		background: #242424;
		border: none;
		font-weight: 400;
		font-size: 24px;
		color: #FFFFFF;
	}
}
.header_mobile_direction {
	border-top: 1px solid rgba(255, 255, 255, 0.21);
	border-bottom: 1px solid rgba(255, 255, 255, 0.21);
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.__mobile_title {
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	color: rgba(255, 255, 255, 0.67);
	margin: 0 0 20px 0;
}
.__mobile_link_direction {
	font-weight: 600;
	color: #FFFFFF;
	display: block;
	margin: 0 0 15px 0;
	font-size: 20px;
	&:last-child {
		margin: 0;
	}
}
.header_mobile_nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0 0 0;
}
.__mobile_link_nav {
	color: #FFFFFF;
	margin: 0 0 15px 0;
	font-size: 20px;
	&:last-child {
		margin: 0;
	}
}
.__mobile_wrapper, .__mobile_links {
	display: flex;
	justify-content: center;
	align-items: center;
}
.__mobile_phone_link {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border: 1px solid #242424;
	margin: 0 75px 0 0;
}
.__mobile_phone_img {
	width: 17px;
	height: 17px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.__mobile_phone_text {
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	margin: 0 0 0 10px;
}
.__mobile_links {
	padding: 35px 0 55px 0;
}
.mobile_link {
	display: block;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	background: #3D3D3D;
	border: 1px solid #3D3D3D;
	border-radius: 17.5px;
	padding: 10px 40px;
	&:first-child {
		margin: 0 20px 0 0;
	}
}
.header_burger {
	display: none;
}
@media only screen and (max-width: 1100px){
	.__body_up_list li {
		margin: 0 25px 0 0;
	}
}
@media only screen and (max-width: 1000px){
	.__body_down_nav, .header_body_up, .__body_down_phone {
		display: none;
	}
	.header_burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.header_burger span {
		position: absolute;
		background-color: #000;
		right: 0;
		width: 70%;
		height: 3px;
		top: 9px;
		transition: all 0.3s ease 0s;
		border-radius: 2px;
	}
	.header_burger:before,
	.header_burger:after {
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
		border-radius: 2px;
	}
	.header_burger:before {
		top: 0;
	}
	.header_burger:after {
		bottom: 0;
	}
	.header_burger.active span {
		transform: scale(0);
	}
	.header_burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header_burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
}
@media only screen and (max-width: 580px){
	.__body_down_logo {
		width: 80px;
		height: 40px;
	}
	.__down_phone_text {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 0 9px;
  }
}
@media only screen and (max-width: 390px){
	.__body_down_phone {
		padding: 5px 10px;
	}
	.__down_phone_text {
		margin: 0 0 0 5px;
	}
	.__body_down_logo {
		width: 60px;
		height: 30px;
	}
}