.presentation {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.438);
}
.presentation_link {
	font-size: 22px;
	color: #3D3D3D;
	margin: 0 0 20px 0;
	display: block;
	border-bottom: 1px solid #FFFFFF;
	transition: all 0.3s ease;
}
.head {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	min-height: 900px;
	padding: 151px 0 0 0;
}
.head::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(36, 36, 36, 0.7);
}
.head_content {
	z-index: 100;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.head_info_title {
	font-weight: 600;
	font-size: 42px;
	line-height: 51px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
	width: 70%;
	letter-spacing: 1.5px;
	& span {
		color: #FFEA00;
	}
}
.head_info_items {
	margin: 40px 0 80px 0;
}
.head_info_item {
	display: flex;
	align-items: center;
	margin: 0 0 15px 0;
	&:last-child {
		margin: 0;
	}
}
.__info_item_line {
	margin: 0 15px 0 0;
	width: 43px;
	height: 1px;
	background: #FFEA00;
	display: block;
}
.__info_item_text {
	font-size: 18px;
	color: #E1FCFF;
	font-weight: 400;
}
.head_slider {
	width: 331px;
	position: relative;
}
.head_slider .slick-arrow {
	position: absolute;
	z-index: 10;
	font-size: 0;
	width: 38px;
	height: 10px;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.head_slider .slick-arrow.slick-prev {
	display: none;
	width: 0;
}
.head_slider .slick-arrow.slick-next {
	background: url('../img/_src/svg/icon_arrow_news.svg');
	background-size: 100% 100%;
	transition: all 0.3s ease;
	top: 103%;
	right: 0;
}
.head_slider .slick-dots li {
	list-style: none;
	margin: 0 4px;
}
.head_slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid rgba(255, 220, 92, 0);
	background: rgba(255, 220, 92, 0.53);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
}
.head_slider .slick-dots li.slick-active button {
	width: 10px;
	height: 10px;
	background: #FFEA00;
	border: 1px solid rgba(255, 255, 255, 0.63);
}
.head_slider_item {
	width: 331px;
	height: 392px;
	background-size: 100% 100%;
	position: relative;
	border-radius: 20px;
	//box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 1);
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
	}
}
.head_slider_item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(36, 36, 36, 0.44);
	border-radius: 20px;
}
.head_slider_content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 40px 0 80px 25px;
}
.try {
	box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 1);
}
.head_slider_title {
	font-weight: 500;
	font-size: 20px;
	color: #FFFFFF;
	margin: 0 0 50px 0;
}
.head_slider_icon {
	display: flex;
	align-items: center;
	margin: 0 0 35px 0;
	&:last-child {
		margin: 0;
	}
}
.head_slider_text {
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
	margin: 0 0 0 20px;
}
.head_play_container {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
}
.head_play_btn {
	position: relative;
	cursor: pointer;
}
.pulse-button__rings.second {
	bottom: -2px;
}
.pulse-button__rings {
  border: 1px solid rgba(255, 234, 0, 0.61);
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: 3px;
  right: -1px;
  height: auto;
  width: auto;
  border-radius: 50%;
  animation-duration: 2.0s;
  animation-name: pulse_1;
  animation-iteration-count: infinite;
}
.pulse-button__rings:nth-child(2) {
  animation-name: pulse_2;
}
.pulse-button__rings:nth-child(3) {
  animation-name: pulse_3;
}
@keyframes pulse_1 {
  from {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }
 
  to {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
 
@keyframes pulse_2 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
 
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
 
@keyframes pulse_3 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
 
  to {
    opacity: 0;
    transform: scale(1.7, 1.7);
  }
}
.visa_items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 40px);
	margin: 0 0 0 -20px;
}
.visa_item {
	background: #F7F7F7;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	width: calc(25% - 40px);
	margin: 0 20px 40px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px 15px;
}
.visa_item_img img {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
	border-radius: 39px;
}
.visa_item_title {
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	margin: 30px 0 10px 0;
}
.visa_item_text {
	text-align: center;
}
.work_title, .team_title, .smi_title {
	color: #FFFFFF;
}
.work_items {
	display: flex;
	justify-content: space-between;
}
.work_video {
	width: 559px;
	height: 358px;
	margin: 0 90px 0 0;
	position: relative;
	&>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.24);
		border-radius: 15px;
	}
}
.work_video::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background: rgba(41, 47, 69, 0.7);
}
.work_info {
	width: 43%;
}
.work_play_container {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	top: 45%;
	z-index: 200;
}
.work_play_btn {
	position: relative;
	cursor: pointer;
}
.work_info_text {
	font-size: 18px;
	line-height: 133%;
	color: #FFFFFF;
	width: 92%;
	&:nth-child(2) {
		margin: 30px 0 30px 0;
	}
}
.work_social_title {
	margin: 50px 0 35px 0;
	font-size: 18px;
	color: #FFFFFF;
}
.work_social_items {
	display: flex;
}
.work_social_item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	margin: 0 25px 0 0;
	box-shadow: $mainShadow;
	border: 1px solid #3D3D3D;
	transition: all 0.3s ease;
	border-radius: 100px;
	background: #3D3D3D;
	&:last-child {
		margin: 0;
	}
	& img {
		width: 27px;
		height: auto;
		
		object-fit: cover;
	}
}
.reviews_slider {
	position: relative;
}
.reviews_slider .slick-list, .team_slider .slick-list, .smi_slider .slick-list, .post_slider .slick-list {
	width: calc(100% + 30px);
	margin: 0 0 0 -15px;
}
.reviews_slider_item {
	background: #F7F7F7;
	border-radius: 15px;
	padding: 20px 20px 25px 20px;
	position: relative;
	margin: 0 15px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}
.reviews_title_abs {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	top: -37px;
	font-weight: 500;
	font-size: 22px;
	color: #3D3D3D;
	
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.reviews_slider_content {
	display: flex;
	align-items: center;
}
.reviews_slider_img {
	width: 78px;
	height: 78px;
	margin: 0 20px 0 0;
	& img {
		width: 100%;
		height: 100%;
		border-radius: 39px;
		box-shadow: $mainShadow;
		object-fit: cover;
	}
}
.reviews_info_name {
	font-weight: 500;
	font-size: 18px;
}
.reviews_info {
	margin: 5px 0;
	display: flex;
}
.reviews_info_city {
	color: #FFEA00;
	font-weight: 500;
	margin: 0 13px 0 0;
}
.reviews_btn_container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.reviews_slider_text {
	margin: 15px 0;
	height: 62px;
	overflow: hidden;
	line-height: 20px;
}
.riviews_btn {
	box-shadow: $mainShadow;
	color: #FFFFFF;
	background: #3D3D3D;
	border: 1px solid #3D3D3D;
	border-radius: 31.5px;
	padding: 11px 18px;
	font-size: 14px;
	font-weight: 500;
	transition: all 0.3s ease;
}
.riviews_btn.blue {
	background: #3CCBDE;
	border: 1px solid #3CCBDE;
}
.riviews_btn.yellow {
	background: #FFEA00;
	border: 1px solid #FFEA00;
	color: #3D3D3D;
}
.reviews_svg_abs {
	position: absolute;
	top: 0;
	right: 0;
	& svg {
		border-radius: 0 15px 0 0;
	}
}
.reviews_svg_abs.blue {
	& svg circle {
		fill: #3CCBDE;
	}
}
.reviews_svg_abs.yellow {
	& svg circle {
		fill: #FFEA00;
	}
}
.slick-track {
	display: flex;
}
.slick-list {
	overflow: hidden;
	padding: 0 0 15px 0;
}
.reviews_slider .slick-list {
	padding: 33px 0 15px 0;
}
.slick-arrow {
	position: absolute;
	top: calc(50% - 20px);
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 0;
	border: none;
	border-radius: 50%;
	box-shadow: $mainShadow;
}
.smi_slider .slick-arrow {
	top: calc(50% + 20px);
}
.slick-arrow.slick-prev {
	left: -80px;
	background: url('../img/_src/slider_arrow_prev.png');
	transition: all 0.3s ease;
}
.slick-arrow.slick-next {
	right: -80px;
	background: url('../img/_src/slider_arrow_next.png');
	transition: all 0.3s ease;
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin: 35px 0 0 0;
}
.slick-dots li {
	list-style: none;
	margin: 0 15px;
}
.smi_slider .slick-dots button {
	background: rgba(141, 142, 153, 0.541);
}
.slick-dots button {
	font-size: 0;
	width: 40px;
	height: 4px;
	border-radius: 111px;
	border: none;
	background: rgba(81, 83, 116, 0.19);
}
.slick-dots li.slick-active button {
	width: 40px;
	height: 4px;
	background: #FFEA00;
}
.news_items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin: 0 0 0 -15px;
}
.news_item {
	width: calc(33% - 30px);
	margin: 0 15px 30px 15px;
	background: #F7F7F7;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
}
.news_item_img {
	//width: 360px;
	height: 201px;
	overflow: hidden;
	border-radius: 15px 15px 0 0;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px 15px 0 0;
		transition: all 0.3s ease;
	}
}
.news_item_info {
	padding: 15px 20px 40px 20px;
}
.news_info_title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	& a {
		color: #3D3D3D;
		transition: all 0.3s ease;
	}
}
.news_info_date {
	display: flex;
	margin: 9px 0 5px 0;
}
.__info_date_text {
	font-weight: 300;
	font-size: 14px;
	color: rgba(61, 61, 61, 0.42);
	margin: 0 0 0 7px;
}
.news_info_text {
	line-height: 20px;
	color: rgba(61, 61, 61, 0.69);
	height: 82px;
	overflow: hidden;
}
.news_info_btn {
	display: flex;
	border: none;
	background: #F7F7F7;
	margin: 30px 0 0 0;
}
.__info_btn_text {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: rgba(68, 72, 86, 0.5);
	margin: 0 15px 0 0;
	transition: all 0.3s ease;
}
.news_btn_container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 15px 0 0 0;
}
.pair_items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin: 0 0 0 -15px;
}
.pair_item {
	width: calc(20% - 30px);
	margin: 0 15px 35px 15px;
	background: #FFFFFF;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 12px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pair_item_img {
	width: 190px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.team_slider_item, .team_slider {
	position: relative;
}
.team_slider_item {
	border-radius: 15px;
}
.team_btn_wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 50px 0 0 0;
}
.team_slider_item {
	padding: 10px 15px 5px 10px;
}
.team_slider_info {
	position: absolute;
	transition: all 0.8s ease;
	width: calc(100% - 25px);
	max-height: 100px;
	overflow: hidden;
	bottom: 5px;
	border-radius: 0 0 13px 13px;
	background: linear-gradient(180deg, rgba(41, 47, 69, 0) 0%, rgba(41, 47, 69, 0.84) 100%);
}
.team_slider_img {
	height: 459px;
	max-height: 459px;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 1);
	transition: all 0.3s ease;
	border-radius: 15px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;
		box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
	}
}
.team_info_title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.3s;
}
.team_slider_subtitle {
	color: #FFFFFF;
	text-align: center;
	margin: 15px 0;
}
.team_slider_text {
	text-align: center;
	color: rgba(255, 255, 255, 0.54);
	opacity: 0;
}
.team_slider_info {
	padding: 20px 18px;
}
.smi {
	position: relative;
}
.smi_content {
	position: relative;
	z-index: 100;
}
.smi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(36, 36, 36, 0.78);
}
.smi_item_img {
	height: 170px;
	border-radius: 15px 15px 0 0;
	overflow: hidden;
	& img {
		border-radius: 15px 15px 0 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s ease;
	}
}
.smi_item_info {
	background: #FFFFFF;
	padding: 10px 12px 25px 15px;
	border-radius: 0 0 15px 15px;
}
.smi_info_title {
	font-weight: 500;
	font-size: 18px;
	& a {
		color: #3D3D3D;
	}
}
.smi_info_text {
	font-size: 14px;
	line-height: 18px;
	color: rgba(51, 54, 65, 0.69);
	height: 87px;
	overflow: hidden;
	margin: 0 0 40px 0;
}
.smi_info_btn {
	box-shadow: $mainShadow;
	background: #3D3D3D;
	border: 1px solid #3D3D3D;
	border-radius: 31.5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	padding: 11px 12px;
	color: #FFFFFF;
	transition: all 0.3s ease;
}
.smi_slider_item {
	margin: 0 12px;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
}
.smi_item_img {
	height: 166px;
}
.props_info_items, .props_info_items_2 {
	display: flex;
}
.props_info_items_2 {
	margin: 50px 0 0 0;
}
.props_info_title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin: 0 0 30px 0;
}
.__up_item_title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin: 0 0 10px 0;
}
.props_info_item {
	margin: 0 35px 0 0;
	&:last-child {
		margin: 0;
	}
}
.props_info_item.width {
	width: 32%;
}
.props_info_items .props_info_item:nth-child(3){
	margin: 0 55px 0 0;
}
.props_info_items_2 .props_info_item:nth-child(1){
	margin: 0 80px 0 0;
}
.props_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.props_download {
	background: #F7F7F7;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 218px;
	width: 218px;
}
.props_download_link {
	font-weight: 500;
	font-size: 18px;
	text-decoration-line: underline;
	color: #3D3D3D;
	&:nth-child(2) {
		margin: 30px 0 15px 0;
	}
}
.other {
	background: #232323;
	padding: 30px 0;
}
.other_content {
	display: flex;
	justify-content: space-between;
}
.other_copy, .__web_text {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.64);
}
.other_web {
	display: flex;
}
.__web_link {
	font-weight: 500;
	font-size: 14px;
	color: #FFFFFF;
	margin: 0 0 0 5px;
}
.crumbs {
	padding: 151px 0 0 0;
	margin: 50px 0 30px 0;
}
.crumbs_content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.crumb_line {
	background: #B3B3B3;
	width: 17px;
	height: 1px;
	margin: 0 6px;
}
.crumb_link {
	color: rgba(61, 61, 61, 0.39);
}
.crumb_link.current {
	color: #3D3D3D;
}
@media only screen and (max-width: 1315px){
	.slick-arrow.slick-next {
		right: 15px;
		top: auto;
		bottom: -14px;
	}
	.slick-arrow.slick-prev {
		left: 15px;
		top: auto;
		bottom: -14px;
	}
}
@media only screen and (max-width: 1160px){
	.container {
		padding: 0 20px;
	}
	.head_info_title {
		width: 100%;
	}
	.work_info_text {
		width: 100%;
	}
}
@media only screen and (max-width: 1080px){
	.props_flex {
		flex-direction: column;
		align-items: flex-start;
	}
	.props_download {
		margin: 30px 0 0 0;
	}
}
@media only screen and (max-width: 1050px){
	.work_video {
		margin: 0 30px 0 0;
	}
	.visa {
		padding: 100px 0 80px 0;
	}
	.visa_items {
		width: calc(100% + 20px);
		margin: 0 0 0 -10px;
	}
	.visa_item {
		margin: 0 10px 20px 10px;
		width: calc(25% - 20px);
	}
}
@media only screen and (max-width: 1000px){
	.head {
		padding: 81px 0 0 0;
		min-height: 700px;
	}
	.crumbs {
		padding: 81px 0 0 0;
	}
	.work_video {
		width: 500px;
	}
	.team_slider_info {
		max-height: 240px;
		background: linear-gradient(180deg, #3D3D3D 0%, #3D3D3D 100%);
	}
	.team_slider_text {
		opacity: 1;
	}
}
@media only screen and (max-width: 950px){
	.pair_items {
		width: calc(100% + 20px);
		margin: 0 0 0 -10px;
	}
	.pair_item {
		width: calc(20% - 20px);
		margin: 0 10px 25px 10px;
	}
	.head_slider {
		display: none;
	}
	.head_info_title {
    width: 87%;
	}
	.head_play_container {
		width: auto;
		right: 80px;
	}
	.visa_items {
		justify-content: center;
	}
	.visa_item {
		width: calc(33% - 20px);
	}
}
@media only screen and (max-width: 900px){
	.news_item.none {
		display: none;
	}
	.work_items {
		flex-direction: column;
		align-items: flex-start;
	}
	.work_video {
		width: 100%;
	}
	.work_video {
		margin: 0 0 30px 0;
	}
	.work_info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.news_item {
		width: calc(50% - 30px);
	}
}
@media only screen and (max-width: 850px){
	.team_slider_item:hover .team_slider_img {
		max-height: 280px;
	}
	.pair_items {
		justify-content: center;
	}
	.pair_item {
    width: calc(33% - 20px);
	}
}
@media only screen and (max-width: 800px){
	.visa_item {
		width: calc(43% - 20px);
	}
}
@media only screen and (max-width: 768px){
	.main_line {
		margin: 25px 0 40px 0;
	}
	.visa {
		padding: 70px 0 50px 0;
	}
	.props, .team, .vac, .video, .work, .programs, .reviews_black, .stage_black {
		padding: 70px 0;
	}
	.history, .migration_programs, .news, .pair, .post_slider_section, .reviews, .smi, .stage, .university, .usa_visa, .work_form {
		padding: 70px 0;
	}
	.about, .contacts, .main_news, .main_reviews, .tourism {
		padding: 0 0 70px 0;
	}
}
@media only screen and (max-width: 750px){
	.props_info_item.width {
		width: 42%;
	}
	.props_flex {
		align-items: center;
	}
}
@media only screen and (max-width: 720px){
	.visa_item {
		width: calc(50% - 20px);
	}
	.props_info_items {
		flex-wrap: wrap;
	}
	.props_info_item.margin {
		margin: 20px 0 0 0;
	}
}
@media only screen and (max-width: 700px){
	.head_play_container {
		right: 20px;
	} 
	.head_info_title {
		font-size: 32px;
		line-height: 40px;
		width: 93%;
	}
	.main_btn {
		font-size: 16px;
	}
}
@media only screen and (max-width: 650px){
	.reviews_slider .slick-list {
		height: 300px!important;
	}
	.pair_item {
    width: calc(50% - 20px);
	}
	.props_info_item.width {
		width: 50%;
	}
	.props_info_items_2 .props_info_item:nth-child(1){
		margin: 0 25px 0 0;
	}
}
@media only screen and (max-width: 620px){
	.visa_item {
    width: calc(50% - 20px);
	}
	.work_video {
		width: 100%;
	}
	.news_items {
		justify-content: center;
	}
	.news_item {
    width: calc(65% - 30px);
	}
}
@media only screen and (max-width: 580px){
	.crumbs {
		padding: 55px 0 0 0;
	}
	.props_info_items_2 {
		flex-direction: column;
		margin: 20px 0 0 0;
	}
	.props_info_item:last-child {
		margin: 20px 0 0 0;
	}
	.props_info_item.width {
		width: 100%;
	}
	.props_info_items_2 .props_info_item:nth-child(1) {
		margin: 0;
	}
}
@media only screen and (max-width: 570px){
	.team_slider_img {
    height: 490px;
    max-height: 490px;
	}
	.team_slider_info {
		max-height: 200px;
	}
	.news_item {
    width: calc(70% - 30px);
	}
	.reviews_slider .slick-dots {
		margin: 0;
	}
	.slick-dots li {
		margin: 0 5px;
	}
	.slick-dots button, .slick-dots li.slick-active button {
		width: 20px;
	}
}
@media only screen and (max-width: 525px){
	.head_info_title {
		font-size: 28px;
		width: 100%;
		line-height: 35px;
	}
	.head_play_container {
		bottom: 141px;
	}
	
	.news_item {
    width: calc(75% - 30px);
	}
}
@media only screen and (max-width: 500px){
	.visa_items {
		width: 100%;
		justify-content: center;
		margin: 0;
	}
	.about_items {
		width: 100%!important;
		margin: 0!important;
	}
	.visa_item {
    width: 70%;
		margin: 0 0 20px 0;
	}
	.head {
		height: 700px;
	}
}
@media only screen and (max-width: 450px){
	.news_item.none_mobile {
		display: none;
	}
	.about, .contacts, .main_news, .main_reviews, .tourism {
		padding: 0 0 50px 0;
	}
	.visa {
		padding: 50px 0 30px 0;
	}
	.props, .team, .vac, .video, .work, .programs, .reviews_black, .stage_black {
		padding: 50px 0;
	}
	.history, .migration_programs, .news, .pair, .post_slider_section, .reviews, .smi, .stage, .university, .usa_visa, .work_form {
		padding: 50px 0;
	}
	.main_title {
		font-size: 28px;
	}
	.news_item {
    width: calc(85% - 30px);
	}
	.container {
    padding: 0 10px;
	}	
}
@media only screen and (max-width: 420px){
	.props_download {
		width: 100%;
	}
	.news_info_title, .team_info_title {
		font-size: 20px;
	}
	.head_play_container {
    bottom: 127px;
	}
	.__info_item_line {
		width: 10px;
		margin: 0 10px 0 0;
	}
	.visa_item {
    width: 85%;
	}
	.work_info_text {
		font-size: 16px;
		&:nth-child(2){
			margin: 20px 0 30px 0;
		}
	}
	.work_video {
		height: 290px;
	}
	.work_social_title {
		font-size: 16px;
		margin: 35px 0;
	}
	.news_item {
    width: calc(100% - 30px);
	}
	.props_info_item {
		width: 100%;
		margin: 20px 0 0 0;
	}
	.props_info_title {
		margin: 0 0 10px 0;
	}
	.team_slider_info {
		max-height: 250px;
	}
}
@media only screen and (max-width: 370px){
	.crumb_link {
		font-size: 13px;
	}
	.__info_item_text {
		font-size: 16px;
	}
	.main_btn {
		padding: 11px 17px;
	}
	.visa_item {
    width: 100%;
	}
	.work_video {
    height: 250px;
	}
}
@media only screen and (max-width: 330px){
	.work_social_title {
		font-size: 15px;
	}
}
