.air-conteiner {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.0);
    z-index: -100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    transition: all ease 0.8s;
    opacity: 0;
}

.air-conteiner_active {
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

.air-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -50px;
    top: -50px;
    z-index: 555;
    cursor: pointer;
    background: url("https://i.ibb.co/x21fyFk/close-icg.png")no-repeat;
    background-size: cover;
    background-position: center;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.popup-air {
    position: absolute;
    transition: all ease 0.8s;
    transform: translateY(100vh) scale(0.4) skew(30deg, 20deg);
    opacity: 0;
}

.air-popup_active {
    transform: translateY(0%) scale(1) skew(0deg, 0deg);
    opacity: 1;
}

.slider-wrapper-gg {
    max-width: 1200px;
}
//отдельно взятая форма
.popup_form {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 35px 25px;
    max-width: 388px;
}
.popup_form_title {
    font-weight: 500;
    font-size: 22px;
}
.form_line {
    width: 90px;
    height: 2px;
    background: #FFEA00;
    margin: 25px 0;
}
.popup_form_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 25px 0;
    color: rgba(61, 61, 61, 0.7);
}
.popup_form_item {
	margin: 0 0 15px 0;
	position: relative;
	& input, textarea {
		font-family: 'Montserrat', sans-serif;
		width: 100%;
        resize: none;
		background: #F7F7F7;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
        border-radius: 24px;
		color: rgba(61, 61, 61, 0.8);
		font-size: 16px;
		transition: all 0.3s ease;
        border: 1px solid #F7F7F7;
        padding: 14px 22px;
        opacity: 0.7;
		&:focus {
			border: 1px solid #FFEA00;
			transition: all 0.3s ease;
            opacity: 1;
		}
	}
    & textarea {
        height: 143px;
    }
	& input[type='submit'] {
		padding: 13px 0;
        opacity: 1;
		width: 187px;
        background: #FFEA00;
        border: 1px solid #FFEA00;
        border-radius: 31.5px;
		box-shadow: $mainShadow;
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		cursor: pointer;
        color: #3D3D3D;
        transition: all 0.3s ease;
        &:hover {
            background: #FFFFFF;
            border: 1px solid #FFEA00;
            transition: all 0.3s ease;
        }
	}
    & p {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: rgba(61, 61, 61, 0.51);
    }
    & a {
        color: rgba(61, 61, 61, 1);
        font-weight: 500;
        display: block;
    }
	&:last-child {
		margin: 0;
        padding: 10px 0 0 0;
		display: flex;
		justify-content: center;
	}
}
.form_input_icon {
    position: absolute;
    top: 14px;
    right: 22px;
    opacity: 0.7;
}
.reviews_popup {
    width: 446px;
    background: #F7F7F7;
    border-radius: 15px;
    padding: 20px 20px 30px 20px;
}
.reviews_popup_name {
    font-weight: 500;
    font-size: 18px;
}
.reviews_popup_city {
    color: #FFEA00;
    font-weight: 500;
    margin: 0 10px 0 0;
}
.reviews_popup_age {
    font-weight: 500;
}
.riviews_popup_title {
    font-weight: 500;
    font-size: 22px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin: 25px 0 20px 0;
}
.reviews_popup_text {
    font-size: 18px;
    line-height: 122%;
}
.video_popup {
    width: 90%;
    height: 90%;
    max-height: 700px;
    & iframe {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}