.video_title_container {
	display: flex;
	flex-direction: column;
}
.__title_container_info {
	display: flex;
	justify-content: space-between;
}
//test
.video_item {
	width: 48%;
	height: 353px;
	position: relative;
	margin: 0 0 40px 0;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	overflow: hidden;
}
.video_item_img {
	position: relative;
	height: 353px;
	& img {
		width: 100%;
		height: 100%;
		border-radius: 15px;
		object-fit: cover;
		transition: all 0.3s ease;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(36, 36, 36, 0.38);
		border-radius: 15px;
	}
}
.video_item_abs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	padding: 50px 13px 13px 13px;
	bottom: 0;
	background: linear-gradient(180deg, rgba(41, 47, 69, 0) 0%, rgba(41, 47, 69, 0.84) 100%);
	border-radius: 0px 0px 13px 13px;
}
.video_item_human {
	display: flex;
	align-items: center;
}
.__item_human_img {
	width: 66px;
	height: 66px;
	margin: 0 15px 0 0;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: $mainShadow;
		border-radius: 39px;
	}
}
.__human_info_container {
	display: flex;
}
.__human_info_title {
	font-weight: 500;
	margin: 0 0 7px 0;
}
.__human_info_city {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #FFEA00;
	margin: 0 5px 0 0;
}
.__human_info_age {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}
.arrive_stars {
	display: flex;
	justify-content: flex-end;
}
.__arrive_text {
	font-weight: 500;
	font-size: 18px;
	margin: 0 0 10px 0;
}
.video_play_btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	top: calc(50% - 52px);
	cursor: pointer;
	& img {
		transition: all 0.3s ease;
	}
}
.video_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.video_btn_container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px 0 0 0;
}
.arrive_star_container {
	margin: 0 0 0 1px;
}
.arrive_star_svg.gold path {
	fill: #FFEA00;
}
@media only screen and (max-width: 800px){
	.video_item {
		width: 49%;
		margin: 0 0 20px 0;
		height: 300px;
		.video_item_img {
			height: 300px;
		}
	}
}
@media only screen and (max-width: 735px){
	.video_items {
		justify-content: center;
	}
	.video_item {
		width: 75%;
	}
}
@media only screen and (max-width: 650px){
	.video_item {
		width: 85%;
	}
}
@media only screen and (max-width: 600px){
	.__title_container_info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.rew_btn {
		margin: 20px 0 0 0;
	}
}
@media only screen and (max-width: 550px){
	.video_item {
		width: 100%;
	}
}
@media only screen and (max-width: 500px){
	.video_item, .video_item_img {
		height: 300px;
	}
}
@media only screen and (max-width: 410px){
	.__arrive_text {
		font-size: 14px;
	}
	.video_item_abs {
		padding: 50px 5px 13px 5px;
	}
	.__item_human_img {
		width: 40px;
		height: 40px;
		margin: 0 10px 0 0;
	}
}
@media only screen and (max-width: 380px){
	.video_item {
		height: 260px;
		.video_item_img {
			height: 260px;
		}
	}
}