.stage_items {
	display: flex;
	justify-content: space-between;
}
.satge_item {
	background: #F7F7F7;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	width: 32%;
	padding: 40px 20px;
}
.stage_item_img {
	margin: 0 auto;
	width: 70px;
	height: 70px;
	& img {
		width: 100%;
		height: 100%;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
		border-radius: 50%;
		object-fit: cover;
	}
}
.stage_item_number {
	display: flex;
	align-items: center;
	margin: 30px 0 20px 0;
}
.__item_number {
	background: #FFEA00;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	font-weight: 600;
	font-size: 26px;
	line-height: 32px;
	text-align: center;
	padding: 4px 13px;
	margin: 0 20px 0 0;
}
.__item_number_text {
	font-weight: 600;
	font-size: 18px;
}
.stage_item_text {
	font-size: 14px;
	line-height: 164%;
}
.vac_content {
	position: relative;
}
.vac_slider .slick-list {
	width: calc(100% + 30px);
	margin: 0 0 0 -15px;
}
.vac_slider_item {
	width: 360px;
	height: 360px;
	position: relative;
	margin: 0 15px;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
}
.vac_slider_img {
	//width: 360px;
	height: 360px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	&>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;
		transition: all 0.3s ease;
	}
}
.vac_info_abs {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	bottom: 0;
	background: linear-gradient(180deg, rgba(41, 47, 69, 0) 0%, rgba(41, 47, 69, 0.84) 100%);
	border-radius: 0px 0px 15px 15px;
}
.vac_abs_title {
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 1px;
}
.vac_asb_pay {
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.47);
	background: #242424;
	border-radius: 17.5px;
	padding: 5px 13px;
	margin: 15px 0 20px 0;
	& span {
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 1px;
		color: #FFFFFF;
	}
}
.vac_btn_container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 50px 0 0 0;
}
@media only screen and (max-width: 1315px){
	.vac_slider .slick-arrow.slick-next, .vac_slider .slick-arrow.slick-prev {
		bottom: 0;
	}
}
@media only screen and (max-width: 1050px){
	.vac_slider_item, .vac_slider_img {
		height: 300px;
	}
}
@media only screen and (max-width: 930px){
	.stage_items {
		flex-wrap: wrap;
	}
	.satge_item {
		width: 48%;
		&:last-child {
			margin: 20px 0 0 0;
		}
	}
}
@media only screen and (max-width: 880px){
	.vac_slider_item, .vac_slider_img {
		height: 360px;
	}
}
@media only screen and (max-width: 680px){
	.stage_items {
		justify-content: center;
	}
	.satge_item {
		width: 70%;
		margin: 0 0 20px 0;
		&:last-child {
			margin: 0;
		}
	}
}
@media only screen and (max-width: 650px){
	.vac_slider_item, .vac_slider_img {
		height: 300px;
	}
}
@media only screen and (max-width: 600px){
	.stage_items {
		width: calc(100% + 30px);
		margin: 0 0 0 -15px;
	}
	.satge_item {
		margin: 0 15px;
		height: 100%;
	}
}
@media only screen and (max-width: 570px){
	.vac_slider_item, .vac_slider_img {
		height: 360px;
	}
}
@media only screen and (max-width: 550px){
	.satge_item {
		width: 80%;
	}
}
@media only screen and (max-width: 480px){
	.satge_item {
		width: 100%;
	}
}
@media only screen and (max-width: 370px){
	.vac_slider_item, .vac_slider_img {
		height: 300px;
	}
	.__item_number {
		margin: 0 10px 0 0;
	}
}