.sub_bg {
	padding: 0 0 30px 0;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: #FFFFFF;
}
.sub_bg::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(36, 36, 36, 0.7);
}
.sub_content {
	z-index: 100;
	position: relative;
}
.work_line {
	width: 111px;
	height: 2px;
	background: #FFEA00;
	margin: 20px 0 30px 0;
}
.main_work_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 60px 0;
}
.main_work_text {
	font-size: 18px;
	line-height: 22px;
	width: 56%;
}
.direction {
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.direction::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(36, 36, 36, 0.7);
}
.direction_content {
	z-index: 100;
	position: relative;
}
.direction_title {
	color: #FFEA00;
	position: relative;
}
.direction_abs_pin {
	width: 33px;
	height: 50px;
	position: absolute;
	top: -15px;
	left: 332px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.direction_img_abs {
	width: 746px;
	height: 192px;
	position: absolute;
	top: -50px;
	right: -100px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.direction_subtitle {
	font-weight: 500;
	font-size: 22px;
	color: #FFFFFF;
	margin: 10px 0 0 0;
}
.direction_slider .slick-list {
	width: calc(100% + 30px);
	margin: 0 0 0 -15px;
}
.direction_slider_item {
	width: 360px;
	height: 360px;
	position: relative;
	margin: 0 15px;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	cursor: pointer;
}
.direction_slider_img {
	//width: 360px;
	height: 360px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	&>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;
		transition: all 0.3s ease;
	}
}
.direction_icon_abs {
	position: absolute;
	top: 22px;
	left: 22px;
	width: 42px;
	height: 42px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: drop-shadow(0px 2px 9px rgba(0, 0, 0, 0.17));
		border-radius: 55px;
	}
}
.direction_info_abs {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 0;
	background: linear-gradient(180deg, rgba(41, 47, 69, 0) 0%, rgba(41, 47, 69, 0.84) 100%);
	border-radius: 0 0 15px 15px;
}
.direction_abs_title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
}
.direction_abs_btn {
	font-size: 14px;
	padding: 5px 20px;
	margin: 10px 0 30px 0;
}
.direction_slider .slick-arrow {
	position: absolute;
	top: 58%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	box-shadow: $mainShadow;
}
.work_form form {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 60px);
	margin: 0 0 0 -30px;
}
.work_form_item {
	width: calc(33% - 60px);
	margin: 0 30px 20px 30px;
	position: relative;
	& input {
		background: #F7F7F7;
		box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
		border-radius: 24px;
		font-weight: 500;
		font-size: 16px;
		color: rgba(61, 61, 61, 0.39);
		padding: 14px 22px;
		border: 1px solid #F7F7F7;
		width: 340px;
		transition: all 0.3s ease;
		&:focus {
			border: 1px solid #FFEA00;
			transition: all 0.3s ease;
		}
	}
	& input[type='submit'] {
		box-shadow: $mainShadow;
		background: #FFEA00;
		border: 1px solid #FFEA00;
		border-radius: 31.5px;
		color: #3D3D3D;
		width: 200px;
		font-weight: 600;
		cursor: pointer;
		&:hover {
			background: #FFFFFF;
		}
	}
	& select {
		background: #F7F7F7;
		box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
		border-radius: 24px;
		padding: 14px 22px;
		border: 1px solid #F7F7F7;
		width: 340px;
		font-weight: 500;
		font-size: 16px;
		color: rgba(61, 61, 61, 0.8);
		appearance: none;
	}
	& p {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: rgba(61, 61, 61, 0.51);
	}
	& a {
		font-weight: 500;
		font-size: 14px;
		color: rgba(61, 61, 61, 0.74);
		transition: all 0.3s ease;
	}
}
.select_item {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 20px;
		right: 22px;
		width: 13px;
		height: 7px;
		background: url('../img/_src/svg/select_arrow.svg');
	}
}
.work_form_asb {
	position: absolute;
	top: 14px;
	right: 22px;
}
@media only screen and (max-width: 1315px){
	.direction_slider .slick-arrow {
		top: auto;
		bottom: -14px;
	}
}
@media only screen and (max-width: 1160px){
	.work_form_item input, .work_form_item select {
		width: 100%;
	}
}
@media only screen and (max-width: 1050px){
	.direction_slider_img, .direction_slider_item {
		height: 300px;
	}
	.direction_img_abs {
		top: -90px;
		right: 0;
	}
}
@media only screen and (max-width: 950px){
	.work_form_item {
    width: calc(33% - 30px);
    margin: 0 15px 20px 15px;
	}
	.work_form form {
		width: calc(100% + 30px);
		margin: 0 0 0 -15px;
	}
}
@media only screen and (max-width: 880px){
	.direction_slider_img, .direction_slider_item {
		height: 360px;
	}
}
@media only screen and (max-width: 790px){
	.order_1 {
		order: 0!important;
	}
	.order_2 {
		order: 1!important;
	}
	.work_form_item {
    width: calc(50% - 30px);
    margin: 0 15px 20px 15px;
		order: 4;
	}
	.btn_submit {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
}
@media only screen and (max-width: 768px){
	.direction_img_abs {
		display: none;
	}
	.direction {
		padding: 70px 0;
	}
}
@media only screen and (max-width: 650px){
	.direction_slider_img, .direction_slider_item {
		height: 300px;
	}
	.main_work_info {
		flex-direction: column;
		align-items: flex-start;
	}
	.main_work_text {
		width: 100%;
		margin: 0 0 30px 0;
	}
}
@media only screen and (max-width: 570px){
	.direction_slider_img, .direction_slider_item {
		height: 360px;
	}
}
@media only screen and (max-width: 550px){
	.work_form_item {
    width: 100%;
	}
}
@media only screen and (max-width: 450px){
	.direction {
		padding: 50px 0;
	}
}
@media only screen and (max-width: 370px){
	.direction_slider_img, .direction_slider_item {
		height: 300px;
	}
	.main_work_text {
		font-size: 16px;
	}
}